:root {
	--primary-purple: hsl(259, 100%, 65%);
	--light-red: hsl(0, 100%, 67%);

	--White: hsl(0, 0%, 100%);
	--Off-white: hsl(0, 0%, 94%);
	--Light-grey: hsl(0, 0%, 86%);
	--Smokey-grey: hsl(0, 1%, 44%);
	--Off-black: hsl(0, 0%, 8%);
}

* {
	box-sizing: border-box;
	font-family: "Poppins";
	margin: 0;
	padding: 0;
	transition: all 0.3s ease 0s;
}

*::selection {
	background-color: var(--primary-purple);
	color: var(--White);
}

a {
	text-decoration: none;
}

*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	background-color: var(--Off-white);
}

form {
	margin: 1rem;
	background-color: var(--White);
	padding: 3rem;
	border-radius: 1rem 1rem 5rem 1rem;
	width: fit-content;
}

.inputs {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin-right: 5rem;
}

.input-field {
	display: flex;
	flex-direction: column;
}

.input-field p {
	display: none;
	color: var(--light-red);
	font-size: 15px;
	margin-top: 4px;
	font-weight: 400;
}

input {
	padding: 0.5rem;
	width: 7rem;
	border-radius: 0.3rem;
	border: 1px solid var(--Light-grey);
	font-size: 32px;
	font-weight: 700;
}

input:focus {
	outline: none;
}

form label {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 0.3rem;
	opacity: 0.5;
}

input::placeholder {
	text-transform: uppercase;
	font-weight: 700;
	opacity: 50%;
	font-size: 32px;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

hr {
	border: 1px solid var(--Light-grey);
	margin: 1rem 0 1rem 0;
	width: 100%;
	height: 1px;
}

.output span {
	animation: count-up 3s ease-in-out 0s;
}

@keyframes count-up {
	from {
		opacity: 0;
		transform: translate(0, 1rem);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

button {
	aspect-ratio: 1/1;
	width: 4rem;
	border-radius: 100%;
	border-width: 0;
	background-color: var(--primary-purple);
	cursor: pointer;
}

button:hover svg {
	transform: translate(0px, 5px);
}

button:active {
	background-color: var(--Off-black);
}

div.process-separator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.output {
	font-size: 4rem;
	font-weight: 800;
	font-style: italic;
}

.output span {
	color: var(--primary-purple);
}

@media (max-width: 650px) {
	input::placeholder,
	input,
	label {
		font-size: 20px;
	}

	.inputs {
		gap: 1rem;
		margin-right: 0;
		justify-content: space-between;
	}

	div.process-separator {
		margin: 2rem 0px;
	}

	button {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0px);
	}
	form {
		padding: 1.5rem;
	}
	.input-field input {
		width: 100%;
	}
	.input-field {
		width: 30%;
	}
	.output {
		font-size: 3.5rem;
	}
}

@media (max-width: 375px) {
	.output {
		font-size: 3rem;
	}
}

.attribution {
	padding: 2rem;
}
